.contact_form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  min-height: 55vh;
}

.contact_form form input {
  margin-bottom: 1rem;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--lightgrey);
}

.contact_form form textarea {
  margin-bottom: 1rem;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--lightgrey);
  font-family: "Montserrat", sans-serif;
}

.contact_form .contactSubmit {
  background-color: var(--lightgrey);
  border: none;
}

.contact_form .contactSubmit:hover {
  background-color: var(--LogoBeige);
  color: var(--darkgrey);
}
