.reviews_detail .container {
  max-width: 80rem;
  margin: auto;
}

.reviews_detail h2 {
  text-align: center;
  font-size: 28px;
  padding: 1rem 0;
  font-weight: 900;
}

.reviews_detail .review {
  padding: 0.5rem;
  max-width: 35rem;
  height: 7rem;
  margin: auto;
  border: 3px solid var(--darkgrey);
  border-radius: 15px;
  background-color: var(--darkgrey);
  flex-wrap: wrap;
  align-content: stretch;
  color: #fff;
  margin-bottom: 0.5rem;
}

.reviews_detail .reviewNRD {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.reviews_detail .name {
  min-width: 4rem;
  text-align: center;
  font-weight: 800;
}

.reviews_detail .date {
  width: 7rem;
}

.reviews_detail .stars {
  width: 8rem;
}

.reviews_detail .list .commment {
  text-align: center;
  width: 80%;
  margin: auto;
}

.reviews_detail .rating {
  display: none;
}
