.gallery {
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gallery .slideshow-text {
  margin: 0 auto;
  overflow: hidden;
  width: 40rem;
}

.gallery .slideText {
  white-space: nowrap;
  transition: ease 1000ms;
}

.gallery .slideText .text {
  display: inline-block;
  height: 4rem;
  width: 40rem;
  font-size: 32px;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(to bottom, #fff 0%, #f8cbad 50%, #ffbd9b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery .slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 25rem;
}

.gallery .slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.gallery .slide {
  display: inline-block;
  height: 36rem;
  width: 25rem;
  background-repeat: no-repeat;
}

.gallery .slideshowDots {
  text-align: center;
}

.gallery .slideshowDot {
  display: inline-block;
  height: 6px;
  width: 20px;
  border-radius: 20%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #fff;
}

.gallery .slideshowDot.active {
  background-color: var(--palette2Orange);
  height: 10px;
}

.gallery .link {
  margin: 30px;
}

.gallery .link .about-link {
  font-size: 20px;
  top: 80%;
  padding: 5px 20px;
  color: #000;
  border: 2px solid #000;
  font-weight: 700;
}

.gallery .link .about-link:hover {
  color: var(--palette2Orange);
  border: 2px solid var(--palette2Orange);
}
